<div style="text-align: center;">
	<div>
		<h3>Colaboradores</h3>
		<ul>
			<li ng-repeat="colaborator in colaborators">
				Nome: {{colaborator.name}} / Idade: {{colaborator.age}} / Salário: {{colaborator.salary}}
			</li>
		</ul>
	</div>
</div>

<div style="text-align: center;">
	<div>
		<h3>Novo colaborador</h3>
		<form class="form" ng-submit="createColaborator(data)">
		  <div class="form-group">
		    <label class="sr-only">Nome</label>
		    <input type="text" class="form-control" placeholder="Nome" ng-model="data.name">
		  </div>
			<div class="form-group">
		    <label class="sr-only">Idade</label>
		    <input type="number" class="form-control" placeholder="Idade" ng-model="data.age">
		  </div>
		  <div class="form-group">
		    <label class="sr-only">Salário</label>
		    <input type="number" class="form-control" placeholder="Salário" ng-model="data.salary">
		  </div>
		  <button type="submit" class="btn btn-default">Enviar dados</button>
		</form>
	</div>
</div>

<a ui-sref="home" class="btn btn-default">Voltar</a>
